.game-board-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1em;
}

.title-banner {
  display: flex;
  justify-content: space-between;
}

.banner-left,
.banner-right {
  display: flex;
  align-items: center;
}

.banner-left {
  width: 50%;
  justify-content: flex-start;
  font-size: 2em;
  color: white;
  gap: 0.5em;
}

.banner-right {
  width: 50%;
  justify-content: flex-end;
}

.title-banner {
  display: flex;
  margin: 2em 0;
}

.icon-menu-container {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -5px 0px -1px rgba(157, 45, 245, 0.25);
  border-radius: 999px;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-menu {
  width: 40%;
}

.life-span {
  background: #ffffff;
  border-radius: 96px;
  padding: 0.5em 0.2em;
  width: 30%;
  height: 0.1em;
  align-items: center;
  display: flex;
  justify-content: left;
  margin-right: 1em;
}

.life-bar {
  background-color: #261676;
  height: 0.5em;
  border-radius: 96px;
}

.icon-heart {
  width: 15%;
}

.game-tiles {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  height: 6em;
}

.tile-line {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.1em;
}

.blank-tile {
  background: #2463ff;
  opacity: 0.25;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  border-radius: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 100%;
  width: 15%;
}

.alphabet-tiles {
  display: flex;
  width: 100%;
  height: 30%;
  flex-wrap: wrap;
  gap: 0.7em;
  margin: 3em 0;
}

.alphabet-tile {
  background: #ffffff;
  border-radius: 8px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #261676;
  height: 3em;
  width: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.answer-tile {
  background: #2463ff;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  border-radius: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 100%;
  width: 15%;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.used-letter {
  opacity: 0.25;
}

.pause-overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #151278;
}

.pause-menu-modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  background: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: inset 0px -8px 0px 4px #140e66, inset 0px 6px 0px 8px #2463ff;
  border-radius: 48px;
  border: 1px solid black;
  height: 55%;
  width: 85%;
}

.pause-title {
  font-family: "Mouse Memoirs";
  font-size: 8em;
  text-align: center;
  letter-spacing: -0.04em;
  background: linear-gradient(180deg, #67b6ff 16.42%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #243041;
  margin-top: -0.5em;
}

.pause-btns {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
  flex-grow: 1;
}

.pause-btn-opt {
  background: #2463ff;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  border-radius: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1em;
  font-size: 1.2em;
}

.quit {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #c642fb;
  border-radius: 40px;
}
