.how-to-play-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.nav-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 1em;
}

.title {
  font-size: 3em;
  background: linear-gradient(180deg, #67b6ff 16.42%, #ffffff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #243041;
  margin-block: 0;
}

.icon-back-container {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -5px 0px -1px rgba(157, 45, 245, 0.25);
  border-radius: 999px;
  width: 3em;
  height: 3em;
}

.icon-back {
  width: 45%;
}

.info-cards {
  display: flex;
  flex-direction: column;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 641px) {
  .how-to-play-page {
    gap: 1.5em;
  }
  .nav-banner {
    justify-content: flex-start;
  }

  .icon-back-container {
    margin-right: 5em;
  }

  .title {
    font-size: 5em;
  }
  .icon-back-container {
    margin-right: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
  }

  .info-cards {
    gap: 1em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1336px) {
  .how-to-play-page {
    margin: 5em;
  }

  .info-cards {
    flex-direction: row;
  }

  .title {
    font-size: 6em;
    text-align: center;
    width: 100%;
  }

  .icon-back-container {
    position: fixed;
  }
}
