.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  background: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: inset 0px -8px 0px 4px #140e66, inset 0px 6px 0px 8px #2463ff;
  border-radius: 48px;
  border: 1px solid black;
  height: 70%;
  width: 85%;
}

.game-title {
  margin-top: -8em;
}

.icon-container {
  width: 10em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -4px 0px 5px #243041, inset 0px -12px 0px 11px #9d2df5;
  border-radius: 999px;
  margin: 3em 0;
}

.how-to-play-btn {
  width: 60%;
  height: 15%;
  text-transform: uppercase;
  font-size: 2em;
  background: #2463ff;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  border-radius: 40px;
  color: white;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 641px) {
  .main-card {
    height: 60%;
  }

  .game-title {
    margin-top: -10em;
    width: -webkit-fill-available;
    height: 15em;
  }

  .icon-container {
    width: 15em;
    height: 15em;
  }

  .how-to-play-btn {
    font-size: 3em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1336px) {
  .main-card {
    height: 70%;
    width: 60%;
  }

  .game-title {
    margin-top: -15em;
    width: -webkit-fill-available;
    height: 15em;
  }
}
