.category-btn {
  background: #2463ff;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}
